.div-MovieList {
    display: inline-block;
    padding: 3px;
    margin: 10px;
    height: 550px ;
    width:300px;
    margin-bottom: 58px;
    border-radius: 6px;
}

.inner-div-MovieList {
    background-color: #FFA9A3;
    padding: 3px;
    border-radius: 6px;
    height: 100%;
    width:100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.h1-MovieList {
    font-family: fantasy;
    font-size: 20px;
    color:white;
}

.h3 {
    color:white;
    margin-bottom: 0;
    margin-top: 5px;
}

.btn{
    color:rgb(48, 21, 21);
    width:50px;
    height: 30px;
}

.fa-plus{
    font-size: 20px;
    margin-left:2px;
    margin-right:5px;
    
}