body {
  margin: 0;
  font-family:'Fira Sans',-apple-system, BlinkMacSystemFont,'Fira Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgba(23,22,22,1) 11%, rgba(27,25,26,1) 28%, rgba(38,38,42,1) 61%, rgba(40,40,36,1) 87%);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
